html, body {
  margin: 0;
  padding: 0;

}

body{
font-family: "apercu";
text-align: "center";
font-size: 35px;
color: #88A4BF;
background-color: #a0d6b4;
}

h4 {
  font-family: "apercu";
  text-align: "center";
  font-size: 18px;
  color: #88A4BF;
}

canvas {
  display: "block";
}

.hidden{
  display:none;
  /* visibility: hidden;
  visibility: visible; */
}
